# Ignore everything in this directory
*
# Except these files
!.ssh
!.ssh/config
!.gitignore
!3rd_Party
!3rd_Party/include
!.cshrc.gbpHome
!.bashrc.gbpHome
!.alias.bash.gbpHome
!.alias.csh.gbpHome
!.alias.csh.gbpHome.osx
!.system.bash.gbpHome
!.system.csh.gbpHome
!.vim

