# First, ignore everything
/*
# Then, select the things we want to keep
# generic stuff
!.modules.gbpHome
!.profile
!3rd_Party/
!bin/
!bin/scripts/
# bash stuff
!.bashrc
!.bashrc.alias
!.bashrc.system
# zsh stuff
!.oh-my-zsh
!.zshrc
# csh stuff
!.alias.csh.gbpHome
!.alias.csh.gbpHome.osx
!.cshrc.gbpHome
!.system.csh.gbpHome
# ssh stuff
!.ssh
.ssh/*
# git stuff
!.gitignore
!.gitconfig
# vim stuff
!.vim/
!.vim/*
# gdb stuff
!.gdbinit
# travis stuff
!.travis.yml
# misc
!.test/
!.test/*
