[submodule "packages/test/.test/assert"]
	path = packages/test/.test/assert
	url = https://github.com/lehmannro/assert.sh.git
[submodule "packages/vim/.vim/bundle/Vundle.vim"]
	path = packages/vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
